<ion-header>
  <ion-toolbar>
    <ion-title>menu</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>

  <ion-content>

    <ion-row>

        <ion-card>
      <ion-buttons>
        <ion-button>
          <ion-icon name="person-circle" size="large"></ion-icon>
          <p></p>
          <ion-label>Meu Perfil</ion-label>
        </ion-button>

       </ion-buttons>
        </ion-card>

        <ion-card>
          <ion-col slot>
              <ion-icon name="person-circle" size="large"></ion-icon>
          </ion-col>
          <p></p>
              <ion-label>Meu Perfil</ion-label>
        </ion-card>

          <ion-card>
          <ion-col>
            <ion-icon name="construct" size="large"></ion-icon>
          </ion-col>
          <p></p>
          <ion-label>Cnfigurações</ion-label>
        </ion-card>

    </ion-row>

    <ion-row>

      <ion-card>
        <ion-col>
            <ion-icon name="person-circle" size="large"></ion-icon>
        </ion-col>
        <p></p>
            <ion-label>Meu Perfil</ion-label>
      </ion-card>

        <ion-card>
        <ion-col>
          <ion-icon name="construct" size="large"></ion-icon>
        </ion-col>
        <p></p>
        <ion-label>Cnfigurações</ion-label>
      </ion-card>

    </ion-row>

    <ion-row>

      <ion-card>
        <ion-col>
            <ion-icon name="person-circle" size="large"></ion-icon>
        </ion-col>
        <p></p>
            <ion-label>Meu Perfil</ion-label>
      </ion-card>

        <ion-card>
        <ion-col>
          <ion-icon name="construct" size="large"></ion-icon>
        </ion-col>
        <p></p>
        <ion-label>Cnfigurações</ion-label>
      </ion-card>

    </ion-row>

  </ion-content>

</ion-content>
