<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Empregos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Empregos</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="Tab Job"></app-explore-container>

<!-- Icons -->

  <ion-item>
    <ion-icon name="paw" size="large" color="black"></ion-icon>
    <ion-label>Cuidados com PET</ion-label>
    <ion-radio slot="end"></ion-radio>
  </ion-item>

  <ion-item>
    <ion-icon name="Medkit" size="large" color="black"></ion-icon>
    <ion-label>Enfermagem</ion-label>
    <ion-radio slot="end"></ion-radio>
  </ion-item>

  <ion-item>
    <ion-img src="assets/img/estetica.png"></ion-img>
    <ion-label  >  Estética </ion-label>
    <ion-radio slot="end"></ion-radio>
  </ion-item>

  <ion-item>
    <ion-img src="assets/img/manicure.png"></ion-img>
    <ion-label>Manicure</ion-label>
    <ion-radio slot="end"></ion-radio>
  </ion-item>

  <ion-item>
    <ion-icon name="cut" size="large" color="black"></ion-icon>
    <ion-label>Cabelereiro(a)</ion-label>
    <ion-radio slot="end"></ion-radio>
  </ion-item>

  <ion-item>
    <ion-img src="assets/img/maquiador.png"></ion-img>
    <ion-label>Maquiador(a)</ion-label>
    <ion-radio slot="end"></ion-radio>
  </ion-item>


</ion-content>
