ion-toolbar {
  --border-style: none;
  align-items:  center;
  text-align: center;
}
ion-buttons{
  color:#b19cd9 ;
 }
ion-header {
  background: #fff;
}
.toolbar-title{
  align-items:  center;
}

.contaier-login {
  height: 85%;
  width: 56%;
  padding: 10px;
  background: #FFFFFF;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.75);
  text-align: center;

}
