<ion-header #header>
  <ion-toolbar>
    <ion-title></ion-title>
    <ion-buttons slot="start">
      <ion-button tab="menu" href="home/tab1">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>

        <ion-title>
          <img src="assets/img/Logo_H4.png" />
        </ion-title>
    <ion-buttons slot="end">
      <ion-button href="tabnotif">
        <ion-icon  name="chatbubbles" ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div class="contaier-login">
<h3>Se você deseja abrir uma MEI vamos te ajudar nessa tarefa. Siga o as instruções que vamos
  te orientar para ser tudo mais rápido.</h3>
</div>

</ion-content>
